{% extends "helpfor9_hse_ru/layout.html" %}
{% block content %}

<form action="calc_results">
    Денис Сергеич, здесь будет калькулятор среднего балла для девятиклассников.<br>

    Введите средний балл по алгебре: <input type="text" name="bal1"><br>
    Введите средний балл по геометрии: <input type="text" name="bal2"><br>
    Введите средний балл по информатике: <input type="text" name="bal3"><br>
    Введите средний балл по физике: <input type="text" name="bal4"><br>
    <input type="submit">

</form>

{% endblock %}